# Archivos compilados
*.class

# Archivos de logs
*.log

# Configuración de IDEs (Eclipse, IntelliJ, VSCode)
.vscode/
.idea/
*.iml

# Directorios de build
bin/
out/
build/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos de copia de seguridad
*.bak
*.tmp
